* {
    font-family: 'National 2 Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10;
}



.container {
    width: 100%;
    margin: auto;
}

.desktop-navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.stripe {
    width: 80%;
    margin: auto;
}

    .stripe > figure {
        width: 3.4%;
    }

        .stripe > figure > svg > path {
            fill: #e4002b;
        }

.desktop-nav {
    margin: 30px 0 15px 0;
    display: flex;
    width: 65%;
    font-size: 0.9rem;
}

    .desktop-nav > a:first-child {
        margin-left: 0;
    }

    .desktop-nav > a {
        margin-left: 2.2rem;
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

.desktop-desktop > figure {
    margin-left: 5px;
    width: 2%;
}

.desktop-navbar > div {
    width: 30%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

    .desktop-navbar > div > div {
        margin-left: 1.2rem;
    }

.cart-icon > a > figure {
    width: 30px;
    height: 30px;
}

#cartvalue123 {
    align-self: center;
    position: relative;
    bottom: 8px;
    left: 12px;
    color: white;
    background-color: #e4002b;
    width: fit-content;
    padding: 3px 6px 3px 6px;
    border-radius: 50%;
}

.desktop-navbar > div > button {
    background-color: #e4002b;
    min-width: 13.5rem;
    height: 46px;
    border: none;
    color: white;
    font-weight: bold;
    line-height: 8px;
    padding: 0 10px;
    border-radius: 2.2rem;
}
.button{
    cursor:pointer;
}
.preOrdr-Loc {
    width: 100%;
    background-color: black;
    display: flex;
    margin-top: 20px;
}

    .preOrdr-Loc > div {
        display: flex;
        width: 50%;
        margin: auto;
        justify-content: center;
    }

        .preOrdr-Loc > div > div {
            display: flex;
            color: white;
            align-items: center;
            padding: 5px 0 6px;
        }

            .preOrdr-Loc > div > div > span {
                margin: 0px 5px;
            }

            .preOrdr-Loc > div > div > figure {
                margin: auto;
                width: 15px;
                margin-top: 6px;
                display: block;
            }

            .preOrdr-Loc > div > div:last-child > figure {
                margin: auto;
                margin-left: 20px;
                width: 18px;
                margin-top: 6px;
                display: block;
            }

            .preOrdr-Loc > div > div:last-child > button {
                border: 1px solid white;
                border-radius: 2.2rem;
                padding: 6px 15px;
                margin-left: 15px;
                background-color: black;
                color: white;
            }

.vrline {
    height: 20px;
    border-right: 1px solid rgb(170, 169, 169);
}

.preOrdr-Loc > div > div > figure > svg > path {
    width: 100%;
    height: 100%;
    fill: #e4002b;
}

.icon {
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px 11px;
}

    .icon > a {
        text-decoration: none;
        font-weight: bold;
    }

.red-stripe {
    background-color: #e4002b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 170px;
}

    .red-stripe > h1 {
        font-size: 1.1rem;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0px;
        word-spacing: 0px;
    }

.str-ordr-btn {
    background-color: white;
    color: black;
    min-width: 10.5rem;
    height: 46px;
    border: none;
    font-weight: bold;
    padding: 0 10px;
    display: flex;
    border-radius: 2.2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.str-ordr-btn1 {
    background-color: #e4002b;
    min-width: 13.5rem;
    height: 46px;
    border: none;
    color: white;
    font-weight: bold;
    line-height: 8px;
    padding: 0 10px;
    border-radius: 2.2rem;
    margin: 40px 0;
    cursor: pointer;
}

.features-title-box {
    display: flex;
    width: 60%;
    align-items: center;
    margin: 50px auto 20px;
}

    .features-title-box > div {
        margin: 0px 0 0 0px;
    }

        .features-title-box > div > h1 {
            font-size: 2.3vw;
            font-weight: 800;
            word-spacing: 0px;
            line-height: -2px;
            font-stretch: condensed;
            text-transform: uppercase;
        }

.banner {
    width: 100%;
    position: relative;
}

#myVideo {
    width: 100%;
}

.banner-content {
    width: 70%;
    margin: auto;
    position: absolute;
    top: 60%;
    left: 15%;
    background: #f8f7f5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
}

    .banner-content > div:first-child {
        width: 55%;
    }

    .banner-content > div {
        width: 30%;
        margin: 0;
        /* border: 1px solid red; */
    }

        .banner-content > div > button {
            background-color: #e4002b;
            min-width: 13.5rem;
            height: 46px;
            border: none;
            color: white;
            font-weight: bold;
            line-height: 8px;
            padding: 0 10px;
            border-radius: 2.2rem;
            margin: 40px 0;
            cursor: pointer;
        }

        .banner-content > div > img {
            width: 100%;
        }

.quick-title-box {
    width: 80%;
    margin: 300px auto 0;
}

.quick-title-box {
    text-transform: uppercase;
}

.container > .quick-media-scroller {
    width: 80%;
}
/* max screen */
@media all and (min-width: 1031px) {
    .mobile-nav {
        display: none;
    }

    .mobile-navbar {
        display: none;
    }
}

/* Medium screens */
@media all and (min-width: 601px) and (max-width: 1030px) {
    .banner-content {
        flex-direction: column;
    }

        .banner-content > div > h1 {
            display: none;
        }

    .desktop-navbar {
        display: none;
    }

    .red-stripe {
        display: none;
    }
    /* .mobile-navbar > button > figure {
    display: block;
    width: 10%;
  } */
    .preOrdr-Loc {
        margin-top: 10px;
    }

        .preOrdr-Loc > div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

    .stripe {
        display: none;
    }

    .red-stripe {
        display: none;
    }

    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        appearance: none;
        background: none;
        border: none;
        outline: none;
    }

        .hamburger .bar,
        .hamburger:after,
        .hamburger:before {
            content: '';
            display: block;
            width: 100%;
            height: 5px;
            background-color: #000;
            margin: 6px 0;
            transition: 0.4s;
        }

    .mobile-navbar > div {
        width: 80%;
        margin: 10px auto 10px;
        display: flex;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -7px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .mobile-nav {
        position: fixed;
        display: block;
        top: 0;
        right: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 98;
        background-color: white;
        padding-top: 120px;
        transition: 0.4s;
    }

        .mobile-nav.is-active {
            right: 0;
        }

        .mobile-nav > a {
            display: block;
            text-align: center;
            width: 100%;
            max-width: 200px;
            margin: 0 auto 16px;
            padding: 12px 16px;
            background-color: rgb(195, 192, 192);
            text-decoration: none;
            color: black;
        }
}

/* Small screens */
@media all and (min-width: 100px) and (max-width: 600px) {
    .banner-content {
        flex-direction: column;
    }

        .banner-content > div {
            width: 50%;
        }

    .desktop-navbar {
        display: none;
    }

    .red-stripe {
        display: none;
    }
    /* .mobile-navbar > button > figure {
    display: block;
    width: 10%;
  } */
    .preOrdr-Loc {
        margin-top: 10px;
    }

        .preOrdr-Loc > div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

    .stripe {
        display: none;
    }

    .red-stripe {
        display: none;
    }

    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        appearance: none;
        background: none;
        border: none;
        outline: none;
    }

        .hamburger .bar,
        .hamburger:after,
        .hamburger:before {
            content: '';
            display: block;
            width: 100%;
            height: 5px;
            background-color: #000;
            margin: 6px 0;
            transition: 0.4s;
        }

    .mobile-navbar > div {
        width: 80%;
        margin: 10px auto 10px;
        display: flex;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -7px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .mobile-nav {
        position: fixed;
        display: block;
        top: 0;
        right: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 98;
        background-color: white;
        padding-top: 120px;
        transition: 0.4s;
    }

        .mobile-nav.is-active {
            right: 0;
        }

        .mobile-nav > a {
            display: block;
            text-align: center;
            width: 100%;
            max-width: 200px;
            margin: 0 auto 16px;
            padding: 12px 16px;
            background-color: rgb(195, 192, 192);
            text-decoration: none;
            color: black;
        }

    .features-title-box {
        display: flex;
        width: 60%;
        align-items: center;
        margin: 20px auto 20px;
    }

    .quick-title-box {
        display: flex;
        width: 80%;
        align-items: center;
        margin: 50px auto 20px;
    }

    .features-title-box > div > h1 {
        font-size: 22px;
    }

    .features-title-box {
        display: flex;
        width: 80%;
        align-items: center;
        margin: 50px auto 20px;
    }

    .quick-title-box {
        display: flex;
        width: 80%;
        align-items: center;
        margin: 200px auto 0;
    }

    .banner-content {
        background-color: none;
    }

        .banner-content > div > h1 {
            display: none;
        }

        .banner-content > div {
            display: flex;
            justify-content: center;
        }

            .banner-content > div > button {
                background-color: #e4002b;
                min-width: 10px;
                font-size: 0.8rem;
                margin: auto;
                border: none;
                color: white;
                font-weight: bold;
                line-height: 8px;
                padding: 0 10px;
                border-radius: 2.2rem;
                margin: 10px 0;
            }
}
