<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="~/Index/assets/css/about.css" />
    <link rel="stylesheet" href="~/Index/assets/css/index.css" />
    <link rel="stylesheet" href="~/Index/assets/css/banner.css" />
    <link rel="stylesheet"
          href="~/Index/assets/font-awesome-4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <!-- this container only for navbar -->
    <div class="container">
        <!-- Pre order location section   -->
    </div>
    <div id="firstbox">
        <div>
            <h1 id="ifyoulikefriedchicken">
                IF YOU LIKE FRIED CHICKEN, THIS IS WHY
            </h1>
        </div>
        <div>
            <img id="firstboximg"
                 src="https://images.ctfassets.net/9tka4b3550oc/2MBv3A7EZ95fODNjqOslhy/dc0288979cf0089a47d995152f4db2ee/hero-about.jpg?w=640"
                 alt="" />
        </div>
    </div>
    <!-- FIRST BOX TILL HERE -->
    <div id="parentOfSecondBox">
        <div>
            <div id="sectiondivider">
                <div>
                    <h3>ABOUT KFC</h3>
                </div>
                <div>
                    <hr />
                </div>
            </div>

            <p id="weMakeFriedChicken">
                We make fried chicken—heck, we practically invented it. If they ever
                make a food hall of fame, our chicken is gonna be a first-ballot
                inductee.
            </p>
        </div>
        <div id="secondChild">
            <div id="ourfoodbox">
                <figure id="stripes">
                    <svg viewBox="0 0 42 20"
                         xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="none">
                        <path class="strip-1" d="M0 0h8v20H0z"></path>
                        <path class="strip-2" d="M16 0h8v20h-8z"></path>
                        <path class="strip-3" d="M32 0h8v20h-8z"></path>
                    </svg>
                </figure>
                <p class="ourFood">OUR FOOD</p>
                <h1>WE MAKE IT THE HARD WAY</h1>
                <p>See what goes into making our world famous fried chicken.</p>
                <button id="learnMoreButton">Learn More</button>
            </div>

            <div>
                <div id="coin">
                    <img src="https://images.ctfassets.net/9tka4b3550oc/pUxlFVRTxLtL5kOkls4oR/79e616624a7269fa05b88538b8d5f305/herbs-badge.png"
                         alt="" />
                </div>
                <div id="bucket">
                    <img src="https://images.ctfassets.net/9tka4b3550oc/1FQSRLVXt2Q1lvXXkOyW6U/f306561ef7bfc5ab7c84a739a46d3629/Food_09.png?q=75&w=960"
                         alt="" />
                </div>
            </div>
        </div>
        <div id="thirdChild">
            <div>
                <h1 class="theManTheMyth">THE MAN, THE MYTH, THE LEGEND</h1>

                <div id="sectiondivider2">
                    <div>
                        <h3>IN THE BEGINNING</h3>
                    </div>
                    <div>
                        <hr />
                    </div>
                </div>

                <p>
                    It all began with the man, the myth, the legend himself. In 1930, in
                    a humble service station in Corbin, Kentucky, 40-year old Harland
                    Sanders began feeding hungry travellers. Sanders spent the next nine
                    years (now that's dedication) perfecting his secret blend of 11
                    herbs and spices, as well as the basic cooking technique we still
                    use today. There are now over 24,000 KFC outlets in more than 145
                    countries and territories around the world.
                </p>
            </div>
            <div>
                <img src="https://images.ctfassets.net/9tka4b3550oc/2Qk8bdug8e1FNxFt4nMuGv/bf7736702d142e7fd42076f889fd206b/about-story-narrow.png?w=640"
                     alt="" />
            </div>
        </div>
        <div id="forthChild">
            <div>
                <div><hr /></div>
                <p>
                    Times change but values don’t. And just like the Colonel, we know
                    that nothing beats the value of hard work. It’s what goes into every
                    good old fashioned meal we make. It’s also why, after more than 90
                    years, folks all over the world keep coming back for more.
                </p>
            </div>
            <div>
                <img src="https://images.ctfassets.net/9tka4b3550oc/1IxE5CuLFOBjNz6Q4BDVkl/dd3e7b3417b874b76777c3ef40edb6f6/3_2_Framed_Colonel.jpg?w=1280"
                     alt="" />
            </div>
        </div>
    </div>
    <div id="forBackgroundAndDiv">
        <img src="https://images.ctfassets.net/9tka4b3550oc/21tnFdAR80lItITKsz6dLL/bae7535166bab0052b6509aed16b0245/about-card.jpg?q=75&w=1680"
             alt="" />
    </div>
    <div>
        <figure id="stripes5Box">
            <svg viewBox="0 0 42 20"
                 xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="none">
                <path class="strip-1" d="M0 0h8v20H0z"></path>
                <path class="strip-2" d="M16 0h8v20h-8z"></path>
                <path class="strip-3" d="M32 0h8v20h-8z"></path>
            </svg>
        </figure>

        <h1>WHAT MADE US GREAT IS STILL WHAT MAKES US GREAT</h1>
        <p>
            KFC Corporation, based in Louisville, Kentucky, is one of the few brands
            in America that can boast a rich, decades-long history of success and
            innovation. We’re at over 24,000 KFC outlets and more than 145 countries
            and territories around the world. And you know what? There’s still a
            cook in a kitchen in every last one of them, freshly preparing
            delicious, complete family meals at affordable prices.
        </p>
    </div>

    <div id="afterBackgroundAndDiv">
        <div>
            <h3>KFC</h3>
        </div>
        <div>
            <hr />
        </div>
    </div>

    <div id="noBackgroundBoxes">
        <div>
            <h1>HOW WE MAKE CHICKEN</h1>
        </div>
        <div>
            <h1>COMPANY RESPONSIBILITY</h1>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div>
            <div class="logo">
                <img src="https://sage-dolphin-365e39.netlify.app/images/Screenshot%20(74).jpg"
                     alt="" />
            </div>
            <div>
                <h2>KFC Food</h2>
                <ul>
                    <li>Menu</li>
                    <li>Full Nutrition Guide</li>
                    <li>Nutrition Calculator</li>
                    <li>Food Allergies & Sensitivities</li>
                </ul>
            </div>
            <div>
                <h2>Company</h2>
                <ul>
                    <li>About KFC</li>
                    <li>How We Make Chicken</li>
                    <li>KFC Foundation</li>
                    <li>Company Responsibility</li>
                    <li>Frenchise a KFC</li>
                    <li>Responsible Disclosure</li>
                    <li>KFC Newsroom</li>
                </ul>
            </div>
            <div>
                <h2>Careers</h2>
                <ul>
                    <li>Restaurant Careers</li>
                    <li>Corporate Careers</li>
                    <li>Culture</li>
                    <li>Growth</li>
                </ul>
            </div>
            <div>
                <h2>Resources</h2>
                <ul>
                    <li>FAQs</li>
                    <li>Contact Us</li>
                    <li>KFC App</li>
                </ul>
            </div>
            <div>
                <h2>Find a KFC</h2>
                <ul>
                    <li>Find A KFC</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="~/Index/assets/js/index.js"></script>
<script src="~/Index/assets/js/banner.js"></script>
</html>
