<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Careers</title>
    <link rel="stylesheet" href="~/Index/assets/css/careers.css" />
    <link rel="stylesheet" href="~/Index/assets/css/index.css" />
    <link rel="stylesheet" href="~/Index/assets/css/banner.css" />
    <link rel="stylesheet"
          href="~/Index/assets/font-awesome-4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="container">
        <!-- Pre order location section   -->

    </div>
    <div id="firstbox">
        <div>
            <h1>JOIN OUR KFC FAMILY</h1>
            <p>
                You can start searching for jobs on the map below or scroll to learn
                more about working at KFC.
            </p>
        </div>
    </div>
    <!-- REEEBEEEN -->
    <div id="reebeen">
        <div id="reebeenLeftBox">
            <div><h3>EXPLORE KFC CAREERS</h3></div>
        </div>
        <div id="reebeenRightBox">
            <div><h3>Join the Family</h3></div>
            <div><h3>Our Culture</h3></div>
            <div><h3>Restaurant Career Growth</h3></div>
            <div><h3>Corporate Careers</h3></div>
            <div><h3>Search Jobs</h3></div>
        </div>
    </div>
    <!-- CAREER  MAP khang1-->
    <div id="careerMap">
        <img src="https://64.media.tumblr.com/58ebcabb9449d7ffbf3d8c19f9cce394/f2bf5b13ba4e7848-9b/s1280x1920/a0dea31e7be98f8174d7327afd6e0de5aa7e4ab8.png"
             alt="" />
    </div>
    <div id="closerToMap">
        <figure id="stripes">
            <svg viewBox="0 0 42 20"
                 xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="none">
                <path class="strip-1" d="M0 0h8v20H0z"></path>
                <path class="strip-2" d="M16 0h8v20h-8z"></path>
                <path class="strip-3" d="M32 0h8v20h-8z"></path>
            </svg>
        </figure>

        <h1>BROWSE KFC OPPORTUNITIES IN YOUR AREA:</h1>
        <select name="" id="selectRegion">
            <option value="">All Positions</option>
            <option value="teamMember">Team Member</option>
            <option value="shiftSupervisor">Shift Supervisor</option>
            <option value="R_A_manager">Restaurant Assistant Manager</option>
            <option value="R_G_manager">Restaurant General Manager</option>
        </select>
        <input type="text" placeholder="Set your location to Find a KFC" />
        <button class="submitButton">Submit</button>
    </div>

    <!-- READY TO APPLY SECTION -->
    <div id="applyForJob">
        <h4>READY TO APPLY?</h4>
        <h1>CHOOSE A RESTAURANT JOB</h1>
    </div>
    <!-- NEW BOX START -->
    <div id="jobexperience">
        <div>
            <p>TEAM MEMBER</p>
            <h1>COOK</h1>
        </div>
        <div>
            <p>TEAM MEMBER</p>
            <h1>CUSTOMER SERVICE</h1>
        </div>
        <div>
            <p>SUPERVISOR</p>
            <h1>SHIFT SUPERVISOR</h1>
        </div>
        <!-- <div>
                          <p>MANAGER</p>
                          <h1>ASSISTANT MANAGER</h1>
                  </div>
                   <div>
                          <p>MANAGER</p>
                          <h1>GENERAL MANAGER</h1>
                  </div> -->
    </div>

    <!-- NEW BOX START -->
    <div id="interviewProcess">
        <h4>RESTAURANT</h4>
        <h1>INTERVIEW PROCESS</h1>
        <p>
            At KFC, we know your time is valuable and want to prepare you for what
            is next! See what happens after you fill out an application for one of
            our Restaurant Opportunities. Note: Most KFC restaurants are operated by
            independent franchisees who have their own hiring and benefits
            guidelines. These requirements may vary by location, and you’ll learn
            more when you meet with the hiring manager.
        </p>
    </div>

    <div class="lineWidth">
        <hr />
    </div>
    <!-- APPLICATION PART -->
    <div class="application">
        <h4>01</h4>
        <h1>APPLICATION</h1>
        <p>Your application will be reviewed by the restaurant leader.</p>
    </div>

    <div class="lineWidth">
        <hr />
    </div>

    <div class="application">
        <h4>02</h4>
        <h1>SCHEDULING</h1>
        <p>
            One of the restaurant leaders will reach out to schedule an interview!
        </p>
    </div>

    <div class="lineWidth">
        <hr />
    </div>

    <div class="application">
        <h4>03</h4>
        <h1>INTERVIEW</h1>
        <p>
            You will meet with a restaurant leader to go over your experience and
            learn more about the job opening. Don’t be afraid to ask questions!
        </p>
    </div>

    <div class="lineWidth">
        <hr />
    </div>

    <!-- NEXT BOX START -->

    <div id="IamTheExperience">
        <div>
            <h1>
                I AM EXPERIENCING NEW THINGS, LEARNING NEW SKILLS AND MEETING NEW
                PEOPLE. AND I’M WORKING AT A GREAT PLACE WITH GREAT PEOPLE.
            </h1>
            <p>Luis, Team Member, Overland Park, KS</p>
        </div>
        <div>
            <img src="https://images.ctfassets.net/9tka4b3550oc/5f3MpBw3YhmwFQ2XrAWtaD/ccce597b56b28b5aa8f6a0b56f940a13/banner-quote-team-member.jpg?q=75&w=580"
                 alt=""
                 class="" />
        </div>
    </div>

    <!-- SAFETY SECTION -->

    <div id="restaurantSafety">
        <h4>HOW WE'RE TAKING ACTION</h4>
        <h1>RESTAURANT SAFETY</h1>
    </div>

    <div id="parentOfSafety">
        <div>
            <img src="https://images.ctfassets.net/9tka4b3550oc/tuRv0gAQWTbt5y9jlCxzN/ed54aadbd2dcd8fbaf6badc1812320f5/safety-masks.png"
                 alt="" />
            <h1>GLOVES & MASKS</h1>
            <hr />
            <p>
                KFC team members wear gloves and masks at all times, and reveive daily
                wellness checks to ensure they are healthy and symptom-free
            </p>
        </div>
        <div>
            <img src="https://images.ctfassets.net/9tka4b3550oc/3sahcx6DPA8zLZ2HdmBUfi/372978462b9667185a5168f157c11293/safety-plexiglass.png"
                 alt="" />

            <h1>PLEXIGLASS</h1>
            <hr />
            <p>
                KFC has installed plexiglass shields at cash register as well as
                highly encouraging contactless payment.
            </p>
        </div>
        <!-- <div>
               <img src="https://images.ctfassets.net/9tka4b3550oc/6hDYNfJJh13VftUurd4jcL/37e8dcbfd8a888318fa662bbdac9f6d9/safety-delivery.png" alt="">
               <h1>CONTACTLESS DELIVERY</h1>
               <hr>
               <p>KFC provides contactless delivery and temper-evident packaging seals for every meal prepared in our kitchens.</p>
         </div>
         <div>
             <img src="https://images.ctfassets.net/9tka4b3550oc/5sevI5gTbB1WvOKYYP8noq/adfe3f2f8e9739d84b73b46debb01627/safety-handwashing.png" alt="">
               <h1>HAND WASHING</h1>
               <hr>
               <p>KFC team members wash their hands every hour at minumum hand have increased sanitization efforts in our restaurants.</p>
         </div> -->
    </div>

    <!-- COVID CHECKING SECTION -->

    <div id="covidCheckingSection">
        <div>
            <h1>
                WORKING TOGETHER, WE CAN LIMIT THE SPREAD OF COVID-19 WHILE OFFERING
                CONVENIENT, AFFORDABLE FOOD IN A LOW CONTACT ENVIRONMENT.
            </h1>
            <p>David Gibbs, CEO of Yum! Brands.</p>
        </div>
        <div>
            <img src="https://images.ctfassets.net/9tka4b3550oc/5IMyL8KmhVGl6fo77t7BT/041fbb0005c5862d06087cf2a456a8d6/banner-quote-safety.jpg?q=75&w=580"
                 alt="" />
        </div>
    </div>

    <!-- IMAGE IN GROUD AND DIV -->
    <div id="imageInGroupAndDiv">
        <img src="https://images.ctfassets.net/9tka4b3550oc/51fyOnDnrgeXWqP1B2Zsih/7d9b6da24b0c8ba9e84fcb2342539bda/banner-card-corporate-careers.jpg?q=75&w=1680"
             alt="" />
    </div>

    <div id="corporateCareers">
        <figure id="stripes">
            <svg viewBox="0 0 42 20"
                 xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="none">
                <path class="strip-1" d="M0 0h8v20H0z"></path>
                <path class="strip-2" d="M16 0h8v20h-8z"></path>
                <path class="strip-3" d="M32 0h8v20h-8z"></path>
            </svg>
        </figure>

        <h4>EXPLORE</h4>
        <h1>CORPORATE CAREERS</h1>
        <p>
            At our Restaurant Support Center, in Louisville, KY, we support our
            brand in every aspect of the business! We take great pride in serving
            our franchises, restaurant teams and guests.
        </p>

        <p>
            We invite you to learn more about how you can be your best self, make a
            difference, and have fun at KFC Corporate
        </p>
        <button id="learnMoreButton">Learn More</button>
    </div>

    <!-- REFRENCES TO MINUMUM AGE      DIV -->
    <div id="referencesToMinimumAge">
        <p>
            <i>
                References to minimum age requirements are not applicable in any
                state where state or local law would prohibit a minimum age.
                Applicants must be able to lawfully perform all job tasks related to
                the role during all restaurant operating hours.
            </i>
        </p>
    </div>

    <!-- EXPLORE CAREER PATH AND LINE WITH HR -->

    <div id="exploreCareerPathsAndLineWithHR">
        <div>
            <h4>EXPLORE CAREER PATHS</h4>
        </div>
        <div>
            <hr />
        </div>
    </div>

    <!-- TWO DIVS FOR BG IMAGE AND CONTENTS -->

    <div id="twoDivsForBGImage">
        <div>
            <h1>KFC CULTURE</h1>
        </div>
        <div>
            <h1>RESTAURANT CAREER GROWTH</h1>
        </div>
    </div>
    <!-- FOOTER -------------------------------------------- -->
           <footer>
        <div>
            <div class="logo">
                <img src="https://sage-dolphin-365e39.netlify.app/images/Screenshot%20(74).jpg"
                     alt="" />
            </div>
            <div>
                <h2>KFC Food</h2>
                <ul>
                    <li>Menu</li>
                    <li>Full Nutrition Guide</li>
                    <li>Nutrition Calculator</li>
                    <li>Food Allergies & Sensitivities</li>
                </ul>
            </div>
            <div>
                <h2>Company</h2>
                <ul>
                    <li>About KFC</li>
                    <li>How We Make Chicken</li>
                    <li>KFC Foundation</li>
                    <li>Company Responsibility</li>
                    <li>Frenchise a KFC</li>
                    <li>Responsible Disclosure</li>
                    <li>KFC Newsroom</li>
                </ul>
            </div>
            <div>
                <h2>Careers</h2>
                <ul>
                    <li>Restaurant Careers</li>
                    <li>Corporate Careers</li>
                    <li>Culture</li>
                    <li>Growth</li>
                </ul>
            </div>
            <div>
                <h2>Resources</h2>
                <ul>
                    <li>FAQs</li>
                    <li>Contact Us</li>
                    <li>KFC App</li>
                </ul>
            </div>
            <div>
                <h2>Find a KFC</h2>
                <ul>
                    <li>Find A KFC</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="~/Index/assets/js/index.js"></script>
<script src="~/Index/assets/js/banner.js"></script>
</html>
